<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>CVE Colleges Inc. - Administrator Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin-login-form.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/toastr.min.css') }}" />
</head>

<body>
    <div class="login-container">
        <div class="login-header">
            <div class="logo">Forgot Password</div>
        </div>

        <form class="login-form" id="forgotPasswordForm">
            <button type="submit" class="login-btn">
                <i class="fas fa-sign-in-alt"></i> Reset to Default
            </button>

            <div class="form-footer">
                <a href="{{ url_for('pages.admin_login') }}" style="margin: auto;">
                    Back to Login
                </a>
            </div>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/toastr.min.js') }}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const form = document.getElementById('forgotPasswordForm');
            form.addEventListener('submit', async (e) => {
                e.preventDefault();

                try {
                    const response = await fetch('/api/admin-reset', {
                        method: 'POST'
                    });

                    const result = await response.json();
                    if (response.ok) {
                        toastr.success(result.message);
                        setTimeout(() => {
                            window.location.href = "/admin/login";
                        }, 1000);
                    } else {
                        toastr.error(result.message);
                    }
                } catch (error) {
                    console.error("Reset failed:", error);
                    toastr.error("An error occurred during reset.");
                }
            });

        });
    </script>
</body>

</html>