<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/line.css') }}" />

  <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.dataTables.min.css') }}" />

  <title>RFID Attendance Logs</title>
</head>
<body>

  <!-- sidebar -->
  {% include('pages/admin/header-sections/sidebar.html') %}

  <section class="dashboard">
    <div class="top">
      <i class="uil uil-bars sidebar-toggle"></i>
    </div>

    <div class="dash-content">
      <div class="overview">
        <div class="title">
          <i class="uil uil-schedule"></i>
          <span class="text">Attendance Logs</span>
        </div>

        <div class="table-container" style="overflow-x:auto;">
          <table id="logsTable" class="display">
            <thead>
              <tr>
                <th>Status</th>
                <th>Timestamp</th>
                <th>First Name</th>
                <th>Middle Name</th>
                <th>Last Name</th>
                <th>Grade</th>
                <th>Section</th>
                <th>Gender</th>
                <th>Contact</th>
                <th>Guardian</th>
                <th>Photo</th>
              </tr>
            </thead>
            <tbody id="logsBody">
              <!-- Filled dynamically with JS -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
 


  <script src="{{ url_for('static', filename='js/jquery-3.7.0.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>

  <script src="{{ url_for('static', filename='js/get-logs.js') }}"></script>
  <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
</body>
</html>
